@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h3>How to use it</h3>
<p>Through this system, you can add, delete and change bus types and prices at any time according to the company's requirements. After logging in, it will help you get your daily work done faster and more easily.</p>
