@{ ViewData["Title"] = "Home Page"; }
<div class="jumbotron">
    <h1>Bus online booking service</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Bus online booking service</h2>
        <p>
            Bus online booking service will help you get things done faster and faster.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Query at any time</h2>
        <p>You can inquire bus prices and so on.</p>
    </div>
    <div class="col-md-4">
        <h2>Subject to change</h2>
        <p>You can add or remove as needed.</p>      
    </div>
</div>
